---
layout: sidebar.hbs

title: Navigation demo
slug: navigation
lead: <%= site.description %>
---
<h1>Demo of navigation.</h1>
{{#each  navigation.main.items }} 
	<li><a href="{{{url}}}" >{{{title}}}</a></li>
{{/each  }} 